main{
background-color: #FFB81C;
}

.container_1, .container_2{
  display: grid;
  grid-template-columns: 25% 25% 25% auto;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  margin: 1%;
  border: 0px solid transparent;
}

.option_desc, H1, placeholder {
   text-align: center;
   background-color: #FFB81C;
   color: #27251F
}
